@font-face {
  font-family: 'munroregular';
  src: url('../fonts/munro-webfont.eot');
  src: url('../fonts/munro-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/munro-webfont.woff2') format('woff2'),
       url('../fonts/munro-webfont.woff') format('woff'),
       url('../fonts/munro-webfont.ttf') format('truetype'),
       url('../fonts/munro-webfont.svg#munroregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'munroregular';
}

/* #FF7F23; - orange */
/* #ECECEC; - light gray */
/* #404040; - dark gray */

body {
  background-color: #ECECEC;
}

/* header styles */

.header {
  background-color: #404040;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.header div {
  display: inline-block;
  padding-right: 40px;
  vertical-align: middle;
}

.header h1 {
  color: white;
  font-size: 4em;
  margin-top: 10px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 0 #FF7F23;
}

.header .version {
  color: #ECECEC;
  float: right;
  margin-right: -40px;
}

#button-new-game-grp {
    padding-right: 0px;
}

/* statusbar styles */

.statusbar {
  color: #404040;
  font-size: 1.5em;
}

.statusbar-header {
  color: #FF7F23;
}

.statusbar-buttons {
    text-align: center;
}

/* stats styles */

.stats {
    float: right;
}
.stats .stats-label {
    background-color: #FF7F23;
    color: white;
    width: 160px;
    padding: 4px;
    font-size: 24px;
    text-align: right;
}
.stats .stats-value {
    color: white;
    width: 80px;
    padding: 4px;
    padding-left: 10px;
    font-size: 36px;
}

/* figure styles */

.figures {
    border-top: 8px solid #FF7F23;
    border-bottom: 8px solid #FF7F23;
    border-radius: 8px;
    margin: auto;
    width: 680px;
}

.figure-row {
  background-color: #404040;
  border-bottom: 4px solid #FF7F23;
  border-left: 2px solid #FF7F23;
  border-right: 4px solid #FF7F23;
  color: black;
  line-height: 36px;
}

.figure-row:last-child {
  border-bottom: none;
}

.figure-row * {
  display: inline-block;
  vertical-align: middle;
}

.figure-row .figure-row-number {
  background-color: #FF7F23;
  color: white;
  font-size: 36px;
  padding: 4px;
  text-align: center;
  width: 26px;
}

/* figure styles */

.figure {
  border: 2px solid gray;
  border-radius: 8px 4px;
  display: inline-block;
  margin-left: 4px;
}

.figure-icon {
  display: inline-block;
  width: 25px;
  text-align: center;
  text-shadow: -1px -1px 0 #000,
                1px -1px 0 #000,
               -1px 1px 0 #000,
                1px 1px 0 #000;
  vertical-align: middle;
}

.figure-icon.big {
  font-size: 1.4em;
}

.figure-icon.small {
  font-size: 0.9em;
}

.figure-icon.green {
  color: green;
}

.figure-icon.blue {
  color: blue;
}

.figure-icon.correct {
  color: #99E699;
}

.figure-icon.incorrect {
  color: #E99696;
}

.figure-icon.gray {
  color: gray;
}

.figure-icon.teal {
  color: teal;
}

.figure-icon.orange {
  color: #FF7F23;
}

.figure-icon.yellow {
  color: yellow;
}

.figure-icon.fa-lozenge-o:before {
  content: "\f096";
}

.figure-icon.fa-lozenge-o {
  transform:  scaleX(0.8) rotate(45deg);
  font-weight: bolder;
}

.figure-label {
  display: inline-block;
  font-size: 1.2em;
  line-height: 30px;
  vertical-align: middle;
  width: 150px;
}

.figure-label.next {
  color: #ECECEC;
  font-size: 1.8em;
  text-align: center;
  width: 30px;
}

.figure.selectable {
  background-color: white;
}

.figure.selectable:hover,
.figure.selectable:active {
  border: 2px solid #0098cc;
  background-color: #66d9ff;
  cursor: pointer;
  transform: translateY(-1px);
  transition: all 0.2s;
}

.figure.not-selected {
  background-color: #BBB;
  border: 2px solid #AAA;
}

.figure.blank {
  width: 170px;
  height: 36px;
  border: none;
}

.figure.next-placeholder {
  border: 2px dashed #ECECEC;
  text-align: center;
  width: 60px;
}

.figure.correct {
  background-color: #99E699;
  border: none;
}

.figure.incorrect {
  background-color: #E99696;
  border: none;
}

/* instructions styles */

.instructions {
  font-size: 1.5em;
}

.instructions .modal-header {
  background-color: #404040;
  color: white;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;  
}

.instructions .modal-content {
  background-color: #ECECEC;
}

.instructions .modal-body {
  padding-left: 0px;
  padding-right: 0px;
}

.instructions .carousel-inner {
  height: 280px;
  margin: 0px 40px;
  width: auto;
}

.instructions .carousel-control {
  background: none;
  color: #404040;
  font-size: 1.3em;
  line-height: 250px;
  opacity: 1.0;
  vertical-align: middle;
  width: 40px;
}

.instructions .carousel-control:hover {
  color: #FF7F23;
}
